html {
  color: #eaeaea;
  font-size: 1em;
  overflow: hidden;
}
body {
  background: #151515;
  line-height: 1.5;
  font-family: "Microsoft YaHei";
  background-image: url("../res/imgs/bkg.png");
  overflow: hidden;
}
.full-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.container {
  width: 100%;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}
.container h2,
.container h3,
.container h4,
.container h5 {
  color: #b5e853;
  margin: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 40px;
  color: #b5e853;
  border-bottom: 1px dashed #b5e853;
  background-image: url("../res/imgs/bkg.png");
}
header h1 {
  font-weight: 900;
  margin-top: 0;
}
header p {
  color: #959595;
  margin: 10px 0 20px 0;
}
.header-fix {
  padding-top: 155px;
}
.main-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.main-content .pages {
  display: block;
  height: 100%;
  position: relative;
  transition: transform 1s cubic-bezier(0.86, 0, 0.03, 1);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.03, 1);
}
.main-content .pages .page {
  background-color: #3b3b3b;
  width: 100%;
  height: 95%;
  padding-top: 5%;
}
.main-content .pages .page .center {
  margin: auto;
}
.main-content .pages .page .circle {
  display: block;
  border: 5px solid #b5e853;
  border-radius: 85px;
  background-image: url('../res/imgs/daydayup.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 40%;
}
.main-content .pages .page .big {
  width: 160px;
  height: 160px;
}
.main-content .pages .page .team-logo {
  color: #f00;
  text-align: center;
  line-height: 265px;
  font-size: 1.4em;
  margin-top: 10%;
  margin-bottom: 5%;
}
.main-content .pages .page .team-member {
  font-color: #fbfbfb;
  width: 50%;
  text-align: center;
}
.main-content .pages .page .team-member .name {
  font-size: 1.3em;
}
.main-content .pages .page .team-member .more-info {
  font-size: 0.9em;
}
.main-content .pages .page .desc {
  width: 60%;
  font-size: 1.1em;
  line-height: 1.3em;
}
.main-content .show-0 {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
}
.main-content .show-1 {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}
.main-content .show-2 {
  transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
}
.main-content .show-3 {
  transform: translateY(-300%);
  -webkit-transform: translateY(-300%);
}
