@font: 'Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace';

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background
    line-height: 1.5;
    font-family: @font;
}